.stock-genius-login-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    justify-content: space-between;
    /* gap: 40px; */
}



.stock-genius-login-form-username input,.stock-genius-login-form-password input{
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px black solid;
    outline: none;
}

.stock-genius-login-form-username,.stock-genius-login-form-password{
    padding-block: 20px;
}

.stock-genius-login-form-password{
    display: flex;
    flex-direction: row;
    position: relative;
}
.stock-genius-icon-eye{
    position: absolute;
    right: 1em;
}
.stock-genius-login-form-submit{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    color: white;
    border-radius: 15px;
    background-color: #191F2F;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

