.stock-genius-container{
    display: grid;
    grid-template-columns: minmax(min-content,max-content) 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    max-height: 100vh;
    
    overflow: hidden;
    
    
}

.stock-genius-content-container-menu{
    width: 4em;
    transition: all ease 0.5s;
  
}
.stock-genius-container-menu-movil {
    display: none;
    
   
}

.stock-genius-menu-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;



}

.stock-genius-content-container-menu:hover{

    width: 15em;

}

.stock-genius-content-container{
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 2em 0 0 15px;
    padding-left: 1rem;

  

}

::-webkit-scrollbar,
::-webkit-scrollbar {
    width: .5rem;
    height: 1rem;
   
  }

.stock-genius-content-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
.stock-genius-menu-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 50px;
  
  }

  .stock-genius-modal-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 50px;
  
  }
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5)
  }
  
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
    background: transparent;
  }

@media screen and (max-width:600px) {
    
    .stock-genius-container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr; 
        box-sizing: border-box;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin; /* Ancho del scroll */
        scrollbar-color: rgb(255, 255, 255) #191F2F; /* Color del scroll */
    
    
    }
    .stock-genius-content-container-menu, .stock-genius-content-container-menu:hover{
        width: 70%;
        z-index: 999;
    }

  
  .stock-genius-content-container-menu:hover .stock-genius-menu-container{
    display: flex;
    justify-content: stretch;
    text-align: center;
    height: 100vh;
    width: 70%;
    z-index: 999;
    position: fixed;
    /* background-color: red; */
    
    
   
}

.stock-genius-content-container-menu:hover .stock-genius-menu-container .stock-genius-icons-menu label {
    opacity: 1;
    visibility: 1;
    margin-inline:1em ;    
    cursor: pointer;

    
    
}

  .stock-genius-title-menu{
    font-weight: 400;
    color: white;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
  }
  .stock-genius-container-menu-movil{
        
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 10px;
      width: 100vw;
      z-index: 999 ;
      
      

     
      
  }

    .stock-genius-menu-container{
        display: none;      
        
    }

    .stock-genius-content-container{
        /* box-sizing: border-box; */
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0px;
        position: relative;
        
       
    
    
        
    }
    
     
   

}