.stock-genius-icon{
    width: 100%;
    text-align: center;
}
.stock-genius-navbar, .stock-genius-icon, .stock-genius-logout{

    align-content: center;
    padding-inline: 1em;
    padding-top: 10px;

    
}


.stock-genius-icons-menu {
    display: flex;
    align-items: center;
    margin-bottom: 1.00rem;
}


a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
  
   
}
.stock-genius-icons-menu label{

    transition: all 0.5s ease; /* Transición para todos los cambios */
    visibility: 0;
    opacity: 0;
     
     
}


.active div img{

    outline: 3px solid  white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
   


    
}  

.stock-genius-menu-container:hover .stock-genius-icons-menu label{
    /* display: block; */
    opacity: 1;
    visibility: 1;
    margin-inline:1em ;    
    /* position: relative; */
    cursor: pointer;
   

    
    
}

.stock-genius-icons-menu img{
    width: 100%;
    max-width: 30px;
}
.stock-genius-menu-container:hover .active div img {

    border:none;
    outline: none;
    background-color: transparent
    
}
.stock-genius-menu-container:hover .active div {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 0.5px solid white;
    border-radius: 10px;

}

.stock-genius-icons-menu:hover{
    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    outline: 0.5px solid white;


}


@media screen and (max-width:600px) {
    

    .stock-genius-icons-menu img{
        width: 100%;
        max-width: 40px;
    }

   
    
}