.stock-genius-menu{
    /* display: grid; */
    grid-row: 2/6;
    align-content: center;
    overflow-y: auto;
    padding-inline: 1em;
}

.stock-genius-logout{
    padding: 10px;
    align-content: end;
    justify-content: center;
}


.stock-genius-icons-menu {
    display: flex;
    align-items: center;
    margin-bottom: 1.00rem;
}


a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
  
   
}
.stock-genius-icons-menu label{
    transition: opacity ease 0s;
    /* transition: all 0 ease-out; */
    position: absolute;

    /* display: none; */
    visibility: 0;
    opacity: 0;
     
     
}


.active div img{

    outline: 3px solid  white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
   


    
}





    

.stock-genius-menu:hover .stock-genius-icons-menu label{
    opacity: 1;
    visibility: 1;
    margin-inline:1em ;    
    position: relative;
    cursor: pointer;
   

    
    
}
.stock-genius-menu:hover .active div img {

    border:none;
    outline: none;
    background-color: transparent
    
}
.stock-genius-menu:hover .active div {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 0.5px solid white;
    border-radius: 10px;

}

.stock-genius-icons-menu:hover{
    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    outline: 0.5px solid white;


}


@media screen and (max-width:480px) {

    .stock-genius-menu:hover {

        /* width: 16.25em; */
        width: 75%;
       
    }



    .stock-genius-navbar-close{
        display: inline-block;
        width: 34px;
        position: absolute;
        left:  300px;
        top: 30px;
        /* fill: aliceblue; */
    }
    .stock-genius-menu:hover .active div,.stock-genius-icons-menu:hover {

        margin-right: 10%;

    }
    

   
    
}