.stock-genius-container{
    display: grid;
    grid-template-columns: auto 3fr;

    /* background-color: red; */
    /* text-align: center; */
    height: 100vh;
}
.stock-genius-menu-container{
    width: 80px;
    background-color: #191F2F;
    transition: width 0.4s ease;



}
.stock-genius-content-container{
    /* background-color: blue; */
    /* grid-column: 1/3; */
    place-items: center;
    
}

.stock-genius-menu-container:hover {
    width: 23.375rem;
    justify-content: end;
    /* padding-left: 30px; */
  }




@media screen and (max-width:480px) {
    .stock-genius-container{
        grid-template-columns: 1fr;
    }
    .stock-genius-menu-container{
        height: 100vh;
    }
}