.stock-genius-component-table-check-box{
    cursor: pointer;
}
.stock-genius-table-check{
    background-color:#90ddfe4a;
    
}



@media screen and (max-width:600px) {
    .stock-genius-component-table input[type="checkbox"] {
        display: none;
      }
    .stock-genius-table-check{
        background: none;
    }
    }