.stock-genius-component-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 0.9375rem;
  /* height: 100%; */

}



.stock-genius-component-table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.stock-genius-component-table th,
.stock-genius-component-table td {
  padding: .625em;
  text-align: center;
  font-size: clamp(0.4em, .1em + 1vw, 1em);
  /* overflow: hidden; */
  
}

.stock-genius-component-table th {
  font-size: .85em;
  font-size: clamp(0.6em, .1em + 1vw, 2em);
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .stock-genius-component-table {
    border: 0;
  }


  .stock-genius-component-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .stock-genius-component-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .stock-genius-component-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .stock-genius-component-table td::before {

    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .stock-genius-component-table td:last-child {
    border-bottom: 0;
  }
}











