.stock-genius-component-container-table{
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
  background-color: white;
  box-sizing: border-box;
  padding: 0.625rem;
  filter: drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.1)); /* Drop shadow */
  table-layout: auto; /* Las columnas se ajustan al ancho del contenido */
  

}

.stock-genius-component-table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 15px;
  table-layout: auto; /* Las columnas se ajustan al ancho del contenido */
}



.stock-genius-component-table tr {

  border-bottom: 1px solid #ddd;
  padding: .35em;

}

.stock-genius-component-table th,
.stock-genius-component-table td {
  padding: .625em;
  text-align: center;
  overflow: hidden; /* Ocultar contenido que excede la altura */
  word-break: break-word; /* Dividir palabras en texto largo */
  white-space: nowrap; /* Evitar ajuste automático de texto */
  

}

.stock-genius-component-table th {
  text-align: center;

  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: white;
}

.stock-genius-component-table td {
  cursor: pointer;
}

.stock-genius-component-table tr:hover {
  background-color:#90ddfe4a;

}
@media screen and (max-width: 600px) {
 
  .stock-genius-component-table {
    border: 0;
  }


  .stock-genius-component-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .stock-genius-component-table tr {
    border-bottom: 5px solid #ddd;
    display: block;
    margin-bottom: .625rem;
  }
  
  .stock-genius-component-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  .stock-genius-component-table td::before {

    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .stock-genius-component-table td:last-child {
    border-bottom: 0;
  }
}











