.stock-genius-container{
    display: grid;
    grid-template-columns: auto 3fr;
    height: 100%;
}

.stock-genius-content-container-menu-hamgurger {
    display: none;
    
   
}
.stock-genius-menu-container{
    width: 5rem;
    transition: width 0.4s ease;
    transition: 0.5s ease;

    /* height: 100vh; */
    

}

.stock-genius-content-container{

    border-radius: 20px 0 0 20px;
    min-width: 50%; 
    overflow-x: hidden; 
    width: 100%;
    height: 100vh;
    padding: 0  0.9375rem 0.9375rem 0.9375rem;

   


    
}

  .stock-genius-menu-container:hover  {
    width: 23.375rem;
  }


@media screen and (max-width:600px) {
    
    .stock-genius-container{
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr; 
        box-sizing: border-box;
    }
    .stock-genius-menu-container{
        display: none;      
        

    }
    .stock-genius-menu-container:hover  {

        width: 16.25rem;
      }

    .stock-genius-content-container-menu-hamgurger{
        
        position: fixed;
        display: inline-block;
        left: 1.25em;
        top: 1.25em;
        height: 2.1875em;
        z-index: 999;
       
        
    }
    .stock-genius-content-container-menu:hover .stock-genius-menu-container{
       
        display: block;
        
       
    }

    .stock-genius-content-container{
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px 0 0 20px;
        height: 100%;
        position: relative;
        
       
    
    
        
    }
    
   

}