.stock-genius-totals-section{
    display:grid;
    grid-template-rows: 1fr 1fr ;
    padding-block: 0.3rem;
    align-items: center;
    gap: 10px;
}
.stock-genius-totals-general-y-pagado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;


}
.stock-genius-totalss-faltantante {
    text-align: center;
}
.stock-genius-totals-section-total-general,.stock-genius-totals-section-total-pagado{
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width:700px) {

    .stock-genius-totals-section{
        grid-template-rows: 1fr  ;
        gap: 2rem;
    }
    .stock-genius-totals-general-y-pagado{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    
    }
}