

.stock-genius-modal-report-header {
    display: flex;
    gap: 1.5rem;
    font-size: 0.8em;
}

.stock-genius-modal-report-header.stock-genius-click{
   
    align-items: center;
    justify-content: space-between;
    color: #000; /* Color del texto */
    padding: 0.5rem 0.5rem; /* Añade padding para darle más espacio */
    border-radius: 10px; 

}


.stock-genius-modal-report-acordeon {
    display: flex;
    flex-direction: column;
    /* gap: rem; */
    font-size: 0.8em;
    
    
}
.stock-genius-modal-report-acordeon.open {
    border-bottom: 0.1px dotted black;
    display: flex;
    gap: 1rem;
  
 .stock-genius-modal-report-content{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
 }

    
}
.stock-genius-modal-report-content-abonos-gastos{ 
    
    .stock-genius-modal-report-acordeon
    {
    .stock-genius-modal-report-header {
     background-color: rgb(228, 245, 220); 
    }
}
}
.stock-genius-modal-report-sub-acordeon-container .stock-genius-modal-report-acordeon .stock-genius-modal-report-header{
    background-color:aliceblue;
    padding: 0.2rem; /* Añade padding para darle más espacio */
    border-radius: 0.3rem;
    
    /* border-left: 0.1px dotted black;
    border-right: 0.1px dotted black; */
}
.stock-genius-modal-report-sub-acordeon-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
}
.expand-icon {
    transition: transform 0.2s ease; /* Transición suave para la rotación */
}

.expand-icon.rotate-icon {
    transform: rotate(180deg); /* Rota el icono 180 grados */
    
}



.stock-genius-modal-report-content-ventas {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    overflow-y: hidden;
    min-width: 50vmin;

    gap: 1rem;
    /* background-color: red; */
}

.stock-genius-modal-report-left-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
}

.stock-genius-modal-report-content-abonos-gastos {
    border-top: 1px dotted black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}



.stock-genius-modal-report-total-general {
    text-align: center;
    margin: 0 auto;
}

.stock-genius-modal-report-content-abonos-gastos span{

        
        padding-block: 0.1rem;
    /* padding: 0.2rem; */
    /* padding-block: 0.8rem; */
    /* border-radius: 1rem; */
}

.stock-genius-modal-report-left-container div div {
    background-color: beige;
    padding: 10px;
}

.stock-genius-modal-report-right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-inline: 1rem;
    border-left: 1px solid black;
    gap: 1.5rem;
}
