.stock-genius-table-detail {
    width: 100%;
    padding-left: 0.5rem;
}
.stock-genius-table-detail span{
    color: #a0a0a0;
    display: block;
    padding-bottom:0.5rem;
    
}
.stock-genius-table-detail td {
    padding: 0.2rem ;
    /* padding: 0.2rem 0.2rem 0.2rem 0; */
    cursor:default
}


.stock-genius-row-linea-gris td:hover{
    background-color:white;
}

.stock-genius-table-row{
    text-align: center;
}
