.stock-genius-table-detail {
    width: 100%;
    padding-left: 0.5rem;
}
.stock-genius-table-detail span{
    color: #a0a0a0;
    display: block;
    padding-bottom:0.5rem;
    
}
.stock-genius-table-detail td {
    padding: 0.2rem ;
    /* padding: 0.2rem 0.2rem 0.2rem 0; */
    cursor:default
}


.stock-genius-row-linea-gris td:hover{
    background-color:white;
}

.stock-genius-table-row{
    text-align: center;
}

.stock-genius-table-row-left{
    text-align: left !important;
}
.stock-genius-table-row-right{
    text-align: right !important;
}


@media screen and (max-width:700px) {
    
    .stock-genius-button-return svg path{
        fill: green;
        
    }
    .stock-genius-button-return {
        text-align: center !important;
    }
    .stock-genius-table-row-left{
        text-align: right !important;
    }

}