.stock-genius-general-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 0.625em;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.9375rem 0.9375rem 0;
}
.stock-genius-left-layout{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 98%;

}
.stock-genius-general-add{
  position: absolute;
  right: 0px;

}

.stock-genius-general-add svg   {
  width: 2rem;
  
}
.stock-genius-options{
  background-color: white;
  cursor: pointer; /* Cambio de cursor al pasar el ratón */
  text-align: left; /* Alineación del texto */

}

.stock-genius-options,.stock-genius-inputs{
    font-size: clamp(0.6rem, 1vw, 1.25rem);
    border-radius: 3px;
    border: none; /* Quitamos el borde */
    text-decoration: none; /* Decoración del texto */
    outline: none; /* Quitamos el contorno */
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-block: 0.3rem;
  
  }



  .stock-genius-button{
    width: 35%;
    min-width: fit-content;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 20px;
    background-color: white;
    border: 1px solid ;
    cursor: pointer;
    transition: all 1s;
    transition: transform 1s;
  }

  .stock-genius-button:active{
    transform: scale(0.85);

  
  }
  .stock-genius-buttons-active{
    background-color: black;
    color: white;
  }
  .stock-genius-buttons-desactive{
    color: gray;
  }
  .stock-genius-titles{
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
   
  }
  
  .stock-genius-titles{
    font-size: clamp(2rem, 0.1rem + 2vw, 2.5rem);
    margin-bottom: 0px;
    
  }
  .stock-genius-sub-titles{

    font-size: clamp(1rem, 0.1rem + 1.5vw, 2rem);
    
  }
  .stock-genius-body{

    /* font-size: clamp(1.25rem, 1.3vw, 1.6rem);  */
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1.25rem);

  }
  .stock-genius-small-text{

    font-size: clamp(0.5rem, 0.8vw, 0.8rem);
    

  }
  .stock-genius-layout{
    display: block;
  }

  .stock-genius-table-disponible{
    color: green;
  }
  .stock-genius-table-no-disponible{
    color: red;
  }
  .stock-genius-click:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  .stock-genius-button-done{
    background-color: black;
    color: white;
  }
  .stock-genius-small-input {
    width: 7rem;
    font-size: clamp(0.6rem, 1vw, 1.25rem);
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    
    /* font-size: clamp(0.6em, .1em + 1vw, 1em); */

    /* border-bottom: 1px solid; */
  }

  .stock-genius-tabs-and-table{
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width:600px) {

    .stock-genius-options{
      padding-inline: 3px;

      /* margin-right: 2px; */
    }

    .stock-genius-general-content{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-top: 0;
        column-gap: 0;
        padding: 0;
    }
    .stock-genius-left-layout{
      display: flex;
      flex-direction: row;
      gap: 1em;
     
    }
    .stock-genius-labels{

      display: flex;
      flex-direction: row;
      width: 100%;
  
    }
    .stock-genius-labels label , .stock-genius-labels span{
      flex: 1;
    }

    
     .stock-genius-labels:nth-child(1) {
      display: none;
    }
    .stock-genius-general-add {
      position: fixed;
      bottom: 0px;
      right: 0px;
      z-index: 1;
      width: 100%;
      /* background-color: black; */
      text-align: right;
      filter: drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.1));
      border-radius: 5px;
      padding-block: 0.5rem;
      /* padding: 10px; */
      padding-right: 25px;
      
      
    }
    .stock-genius-general-add svg  {
      width: 3rem;
      height: 3rem;
    }
    .stock-genius-titles{
      font-size: clamp(2rem,  2vw, 2.5rem);
      margin-bottom: 0px;
      
    }
    .stock-genius-sub-titles{
      font-size: clamp(1.26rem, 1.5vw, 2rem);
      
    }
    .stock-genius-body{
  
      font-size: clamp(1.1rem, 1.2vw, 1.25rem);
  
    }
    .stock-genius-small-text{
      font-size: clamp(0.8rem, 1vw, 1rem);

    }
    .stock-genius-options{
      font-size: clamp(1rem, 1vw, 1.25rem);
    }
  }