
  .stock-genius-modal-content {
    /* Agrega tus estilos aquí */
    
   position: absolute;
   overflow: auto;
   background-color: #fff;
   padding:  0 20px 10px;
   outline: none;
   border-radius: '10px';
   max-width: 95vw;
   max-height: 90vh; /* Alto del modal en relación al alto de la pantalla */
  }
  .stock-genius-component-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-bottom: 10px;

  }
  .stock-genius-component-modal-title{
    margin: 0px;
    padding: 10px 10px 0px 10px;
     font-size: clamp(1.5em, .1em + 2.5vw, 2.5em);

  }
  .stock-genius-modal-icon {
   width: 2.5em; 
  }

  .stock-genius-component-modal-layout{
    padding-left: 1.25rem;
    font-size: 0.86em;
    
  }
  
  .stock-genius-modal-close {
    margin-left: auto;
    border: none;
    cursor: pointer;
  }
  
