
  .stock-genius-modal-content {
    /* Agrega tus estilos aquí */
   position: absolute;
   inset: 50% 40px 40px 50%;
   overflow: auto;
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
   outline: none;
   border-radius: '10px';
   width: 50vw; /* Ancho del modal en relación al ancho de la pantalla */
   max-width: 95vw;
   height: 50vh; /* Alto del modal en relación al alto de la pantalla */
   top: 25vh; /* Posición vertical del modal en relación al alto de la pantalla */
  }
  .stock-genius-component-modal-header{
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .stock-genius-component-modal-header img{
   width: 30px; 
  }
  
  .modal-close-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
  }
  