.stock-genius-form-registro{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between  ;
}
.stock-genius-registro-seleccionable{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-top: 1rem;
    
}
.stock-genius-registro-seleccionable select{
    text-align: left;
    /* width: max-content; */
}
.stock-genius-registro-products-selected{
    flex-grow: 1;
    max-height: calc((6/6) * 100vh ); /*Tamaño asignado = (valor de flex-grow / suma de valores de flex-grow) * espacio disponible*/
    /* Permitir que div 2 ocupe el espacio restante */
    overflow-y: auto; /* Habilitar scrollbar vertical cuando sea necesario */


}

.stock-genius-registro-text{
    outline: none;
    border: none;
    border-bottom: 1px solid;
}

.stock-genius-registro-input-detail{
    height: 100px;
    display: block;
}