


.stock-genius-filter-date{
    width: 13em;
    /* min-width: 10rem; */

    
}
.stock-genius-filter-date.active{
    background-color: #1787dc;
    border-radius: 10px;
    color: white;
    /* min-width: 10rem; */

    
}