
.stock-genius-button-export {
  margin-right: 20px;
  margin-left: auto;
}

.stock-genius-inventario-total{
  display: flex;
  flex-direction: column;
  text-align:  right;
}
@media screen and (max-width: 600px) {

  

  .stock-genius-button-export {
    margin: 0px;
  }

  .stock-genius-inventario-total{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 80vmin;
    padding: 10px;
    text-align: center;
    /* align-items: right; */
    justify-content: center;


  }


}
