
.stock-genius-gastos-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-bottom: 1rem;
    user-select: none;
}