


.stock-genius-selected-products td {
  padding-inline: 0;
  text-align: center;
  word-break: break-word; /* Dividir palabras en texto largo */
  white-space:inherit; /* Evitar ajuste automático de texto */


}

.stock-genius-selected-products th {
  position: sticky;
  top: 0;
  background-color: white; 
}

.stock-genius-table-total{
    width: 7rem;
}

.stock-genius-selected-product-delete path{
    fill: red;
}