.stock-genius-gastos-layoth{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;
    width: 98%;
}
.stock-genius-gastos-footer{
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    user-select: none;
}