
.stock-genius-component-tab-detail-list {
    margin-top: 1rem;
    display: flex;
    flex: 1;
    
  }
  
  .stock-genius-component-tab-detail {
    flex: 1;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #D9D9D9;
    border-left: none;
    border-bottom: none;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
  }
  

  .stock-genius-component-tab-detail.desactive  {
    background-color: #D9D9D9;

  }
 