.stock-genius-form-registro-venta{
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    height: 95vh /* Altura del contenedor para ocupar el viewport completo */

}
.stock-genius-products-selected{

    flex-grow: 1; /* Permitir que div 2 ocupe el espacio restante */
    overflow-y: auto; /* Habilitar scrollbar vertical cuando sea necesario */


}