.stock-genius-login{
    height: 92vh;
    /* max-height: 100vh; */
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  
    
}

.stock-genius-login-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    padding-inline: 2rem;
}

.stock-genius-login-title{
    font-size: 5rem;
    font-weight: 400;
    padding-bottom: 1rem;
    margin: 0;
    box-sizing: border-box;
    text-align: left;

}

.stock-genius-login-layout{
    padding-block: 1rem;
}
.stock-genius-login-vector-izq{
    position: fixed;
    bottom: 0;
    left: 0px;
    margin: 0;
    padding: 0;
    z-index: 1;

}

.stock-genius-login-vector-der{
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    z-index: 1;

}


.stock-genius-login-vector-izq {
    width: 40vw; 
    max-width: 854px;
    height: auto; 
}
  
  .stock-genius-login-vector-der {
    width: 50vw; 
    max-width: 1214px; 
    height: auto; 
  }