.stock-genius-movimientos-container-inactive {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.stock-genius-movimientos-container-active {
    display: block; 
    transform: translateY(0); /* Se desliza hacia la vista */
}

.stock-genius-movimientos-container-left {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0.625em;
    padding: 0 0.9375rem 0.9375rem 0;
    max-height: 100vh;
    overflow-y: auto;

    /* background-color: red; */

}

.stock-genius-movimientos-left-footer {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    user-select: none;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) { /* Ajusta el 768px según el tamaño de tu pantalla objetivo */
    .stock-genius-movimientos-left-footer {
        margin-bottom: 50px;
        margin-right: 30px;
    }
}

.stock-genius-movimientos-left-footer-devoluciones,
.stock-genius-movimientos-left-footer-resumen {
    background-color: black;
    cursor: pointer;
    color: white;
    border: 0px;
    outline: none;
    padding: 5px;
    margin-inline: 10px;
    border-radius: 5px;
}

.stock-genius-movimientos-container-right {
    /* display: none; */
    /* Oculto por defecto */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* max-height: 50%; */
    /* Ajusta según el contenido */
    background-color: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    /* Habilita scroll si el contenido es largo */
    z-index: 1000;
    transform: translateY(100%);
    /* Oculto en la parte inferior */
    transition: transform 0.3s ease-in-out;
    /* Animación de entrada/salida */
    border-radius: 0.9375rem;
    padding-left:0.625rem ;
}

.stock-genius-inactive {
    display: none;
}


@media screen and (max-width:600px) {

    .stock-genius-movimientos-left-table .stock-genius-component-container-table {
        border-radius: 0px 0px 1rem 1rem;
    }

}