
.stock-genius-card-pay{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
    margin-bottom: 0.5rem;
}
.stock-genius-card-pay-pago,.stock-genius-card-pay-total{
    padding: 0.5rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.stock-genius-card-pay-metodo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:  #606060;;
}
.stock-genius-card-pay-metodo svg {
    width: 1em;
}
.stock-genius-card-pay-metodo path{
 fill: rgb(230, 0, 0);
    
}