/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Cambia la fuente predeterminada a Inter */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 100%; /* 100% = 16px */
}
.stock-genius-options{
  background-color: white;
  font-size: 1em;
  height: 1.75em;
  background-color: white;
  border-radius: 3px;
  border: none; /* Quitamos el borde */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Decoración del texto */
  cursor: pointer; /* Cambio de cursor al pasar el ratón */
  outline: none; /* Quitamos el contorno */
  margin-right: 10px;
  padding-inline: 15px;

}

.stock-genius-button{
  width: 35%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 20px;
  background-color: white;
  /* border: 1px solid ; */
  cursor: pointer;
}
.stock-genius-titles{
  /* padding-left: 1.25rem; */
  font-weight: 400;
  margin-bottom: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* font-size: clamp(0.6em, .1em + 1vw, 2em); */
 
}

.stock-genius-layout{
  font-size: 0.86em;
  display: block;
}

img{
  vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.stock-genius-table-disponible{
  color: green;
}
.stock-genius-table-no-disponible{
  color: red;
}
.stock-genius-click:hover{
  cursor: pointer;
  opacity: 0.7;
}
@media screen and (max-width:480px) {
  html{
    /* font-size: 80%; */
  }
  .stock-genius-options{
    padding-inline: 3px;
    /* margin-right: 2px; */
  }
}